/* styles.css */
@media (max-width: 768px) {
    .hero-background {
      background-size: 120% auto; /* Adjust this value based on your needs */
      background-position: center center; /* Adjust this value if needed */
    }
  }
  
  @media (min-width: 768px) {
    .hero-background {
      background-size: cover;
      background-position: center center;
    }
  }
  