/* styles.css */
@media (max-width: 768px) {
    .hero-background {
      background-size: 120% auto; 
      background-position: center center;
    }
  }
  
  @media (min-width: 768px) {
    .hero-background {
      background-size: cover;
      background-position: center center;
    }
  }
  